@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);

body{
    background: repeating-linear-gradient(
            to right,
            #3f3f3f,
            #3f3f3f 10px,
            #1c1c1c 10px,
            #1c1c1c 20px
    );
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    margin: 0;
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

h1, input {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    text-transform: none
}

#login-nav input {
    margin-bottom: 15px;
}

a.list-group-item {
    font-family: 'Roboto', sans-serif;
}


/* Main Divs */
.containter-style{
    background-color:rgba(0, 0, 0, 0.4);
}

.text-sub {
    color: #337ab7;
    font-weight: 800 !important;
}

.active {
    background-color:#3d3d3d;
    }

section {
    height:calc(90% - 40px);
}

.list-group {
    font-weight: 500;
    color: #000;
}

.sticky {
    position:fixed;
    top:0;
}

.menu-padding {
    padding-top:40px;
}

#exampleInputPassword2, #exampleInputEmail2 {
    background-color: #555555;
    color: #ccc
}

.logcolor::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #FFF;
}
.logcolor:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #FFF;
    opacity: 1;
}
.logcolor::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #FFF;
    opacity: 1;
}
.logcolor:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #FFF;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 3 !important;
    position: relative;
}

.container-fluid {
    position: relative;
    height: 500px;
    max-height:500px;
    margin-bottom: 450px;
}

#adv-search {
    margin-top: 5px;
    margin-right: 10px;
}

#panes {
    height: calc(100vh - 100px);
    padding-top: 200px;
}

#left {
    min-width: 33.333333%;
}
#center {
    min-width: 33.333333%;
}

#right {
    min-width: 33.333333%;
}

.inner {
    border-radius: 25px;
    border: 1px solid white;
    min-height: 100%;
    height: calc(100vh - 215px);
    background-color:rgba(0, 0, 0, 0.4);
    overflow-x: auto;


}

#selected {
    width: 100%;
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 25px;
}


@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }

    a.item-width {
        width: 100%; !important;
    }
}

@media (max-width: 978px) {
    .navbar .navbar-collapse {
        margin-top: 40px;
    }
}


/* NavBar */

.navbar-brand {
    line-height: 38px;
    padding-bottom: 10px;
}
.navbar {
    min-height:38px;
    margin-bottom: 50px;
    padding-right: 10px;
    font-weight:100;
    width: 100%;
    padding-top:15px;
    padding-bottom:15px
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom:0;
}

.navbar .navbar-brand{
    padding: 0 10px;
    font-size: 16px;
    line-height: 38px;
    height: 38px;
}

.navbar .navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 38px;
}
.navbar .navbar-toggle {
    margin-top: 3px;
    margin-bottom: 0;
    padding: 8px 9px;
}
.navbar .navbar-form {
    margin-top: 2px;
    margin-bottom: 0
}
.navbar .navbar-collapse {
    border-color: #A40303;
    overflow-x: hidden;
    max-height: 100%;
}

.affix .navbar {
    padding:0;
    padding-top: 5px;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
}

#nav.affix {
    position: fixed;
    top: 0;
    padding: 0 !important;
    width: 100%;
    z-index:10;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
}

.navbar-form input, .form-inline input {
    width:auto;
}

.black-bg {
    background-color: #222 !important;
}

#wht {
    color: #9d9d9d;
}

/* Logged in Navbar */

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

/* Drink cards */
.business-card {
    border: 1px solid #cccccc;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.business-card:hover {
    background-color: rgba(0, 0, 0, 0.12);
}
.profile-img {
    height: 120px;
    background: white;
}
.job {
    color: #666666;
    font-size: 12px;
}
.mail {
    font-size: 16px;
}
/* Modal stuff */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Search */
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}



.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.form-control {
    display:table-cell;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 90%;
        margin: 20px auto;
    }

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 150px;
    }

    .glyph-size {
        font-size: 10vw;
    }

}

/*  bhoechie tab */
div.bhoechie-tab-container{
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid #ddd;
    margin-top: 20px;
    margin-left: 10px;
    width: 95%;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
    font-family: 'Roboto', sans-serif;
}
div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #337ab7;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #337ab7;
    color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #337ab7;
}

div.bhoechie-tab-content{
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.glyph-size {
    font-size: 12em
}

.item-width {
    width: 120%
}

.overlay {
    background: rgba(39,62,84,0.82);
    overflow: hidden;
    width: 100%;
    max-height: 80.4%;
    top: 0;
    left: 0;
}

.img-responsive {
  display: inline-block;
}
