body{
    background-color: transparent;
}

#panes {
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
}

#left {
    border: 1px solid black;
}
#center {
    border: 1px solid black;
}

#right {
    border: 1px solid black;
}

.inner {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}